# This is Git's per-user configuration file.
[user]
	# set in ~/.gituser_*

[includeIf "hasconfig:remote.*.url:git@github.com:deliveroo/**"]
	path = ~/.config/git/gitconfig_work


[includeIf "hasconfig:remote.*.url:git@github.com:samsmi7h/**"]
	path = ~/.config/git/gitconfig_personal

[includeIf "hasconfig:remote.*.url:git@github.com-personal:samsmi7h/**"]
	path = ~/.config/git/gitconfig_personal

[alias]
	trim = !git dev && git branch --merged | grep -Ev '(master|development)' | xargs git branch -d
	dev = checkout development
	master = !git checkout $(git defaultbranch)
	staging = checkout staging
	current = rev-parse --abbrev-ref HEAD
	publish = !git push -u origin $(git current)
	nb = checkout -b
	uncommit = reset --soft HEAD~1
	defaultbranch = !git remote show origin | sed -n '/HEAD branch/s/.*: //p'

	# staging-pull-merge
	spm = !git staging && git pull && git merge -

	# rebase on main
	rbm = !git master && git pull && git checkout - && git rebase -

	# bash aliases
	repolink = "!f() { \
		printf 'https://' && git remote -v | head -n 1 | sed 's/.*git@//' | tr ':' '/' | sed 's/.git.*//'; \
	}; f"

	open = "!f () { \
		open $(git repolink); \
	}; f"

	pr = "!f() { \
		current_branch=$(git current);\
		default_branch=$(git defaultbranch);\
		diff_with=\"${1:-$default_branch}\";\
		repo=$(git repolink); \
		open $(printf $repo && \
			printf '/compare/' && \
			printf $diff_with && \
			printf '...' && \
			printf $current_branch && \
			printf '?expand=1'); \
	}; f"

[url "ssh://git@gitlab.com/"]
	insteadOf = https://gitlab.com/

[core]
	hooksPath = .nohooks
